.orders-page {
  padding: 30px;
  max-width: 1100px;
  margin: auto;
}

.page-title {
  font-weight: 500;
  margin-bottom: 25px !important;
}

.order-card {
  margin-bottom: 25px;
  border-radius: 14px !important;
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06) !important; */
  transition: transform 0.2s ease;
  padding: 8px !important;
}

.order-card:hover {
  transform: translateY(-3px);
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-date {
  color: #777;
  font-size: 14px;
  margin-top: 5px;
}

.order-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 12px;
}

.order-item img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
  border: 1px solid #eee;
}

.item-title {
  font-weight: 500;
}

.item-meta {
  font-size: 14px;
  color: #555;
}

.order-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-loader {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}